{% extends "base.html" %}
{% block title %} Edit homework {% endblock %}

{% block content %}
    <div class="container">
        <form method="POST">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th scope="col"><label for="lesson_id">Lesson_Id</label>
                    <th scope="col"><label for="title">Title</label></th>
                    <th scope="col"><label for="description">Description</label></th>
                    <th scope="col"><label for="file_path">File path</label></th>
                    <th scope="col"><label for="deadline">Deadline</label></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tr>
                    <td><input type="text" class="form-control" name="lesson_id" value="{{ fields.lesson_id }}"></td>
                    <td><input type="text" class="form-control" name="title" value="{{ fields.title }}"></td>
                    <td><input type="text" class="form-control" name="description" value="{{ fields.description }}">
                    </td>
                    <td><input type="text" class="form-control" name="file_path" value="{{ fields.file_path }}"></td>
                    <td><input type="date" class="form-control" name="deadline" value="{{ fields.deadline }}"></td>
                    <td>
                        <button class="btn btn-success">Update</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}