{% extends 'base.html' %}
{% block title %} Edit N{{ homework.id }} homework {% endblock %}

{% block content %}
    <div class="row heading-bg">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h5 class="txt-dark">New homework</h5>
        </div>
    </div>

    <!-- Row -->
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default card-view">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="table-wrap">
                            <form method="POST">
                                <table id="myTable1" class="table table-hover display  pb-30">
                                    <tr>
                                        <th><label for="lesson_id">Lesson_Id</label>
                                        <th><label for="title">Title</label></th>
                                        <th><label for="description">Description</label></th>
                                        <th><label for="file_path">File path</label></th>
                                        <th><label for="deadline">Deadline</label></th>
                                        <th><a href="/homeworks" class="btn btn-danger"> Back </a></th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control" name="lesson_id"
                                                   value="{{ homework.lesson_id }}" required autofocus>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" name="title"
                                                   value="{{ homework.title }}" required autofocus>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" name="description"
                                                   value="{{ homework.description }}" required autofocus>

                                        </td>
                                        <td>
                                            <input type="text" class="form-control" name="file_path"
                                                   value="{{ homework.file_path }}" required autofocus>
                                        </td>
                                        <td>
                                            <input type="date" class="form-control" name="deadline"
                                                   value="{{ homework.deadline }}" required autofocus>
                                        </td>
                                        <td>
                                            <button class="btn btn-success">Update</button>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Row -->
{% endblock %}