{% extends 'base.html' %}
{% block title %} Create new user {% endblock %}

{% block content %}
    <div class="container">
        <form class="form-horizontal" method="POST">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <h2>Create user</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="form-group has-danger">
                        <div class="input-group mb-4 mr-sm-4 mb-sm-4">
                            <input type="text" name="first_name" class="form-control"
                                   placeholder="first name" required autofocus>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="form-group has-danger">
                        <div class="input-group mb-4 mr-sm-4 mb-sm-4">
                            <input type="text" name="last_name" class="form-control"
                                   placeholder="last name" required autofocus>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="form-group has-danger">
                        <div class="input-group mb-4 mr-sm-4 mb-sm-4">
                            <input type="text" name="email" class="form-control"
                                   placeholder="you@example.com" required autofocus>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <label class="control-label">Select role: </label>
                    <select name="role">
                        <option value="admin">Admin</option>
                        <option value="teacher">Teacher</option>
                        <option value="student" selected>Student</option>
                    </select>
                </div>
            </div>
            <div class="row" style="padding-top: 1rem">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-success"><i class="fa fa-sign-in"></i> Register</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}