{% extends "base.html" %}
{% block title %} Create new user {% endblock %}

{#{% block top_menu %} {% endblock %}#}
{#{% block left %} {% endblock %}#}

{% block content %}
    <div class="row">
        <form method="POST">
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-5">
                    <h2>Create user</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-5">
                    <div class="form-group has-danger">
                        <div class="input-group mb-4 mr-sm-4 mb-sm-4">
                            <input type="text" name="first_name" class="form-control"
                                   placeholder="first name" required autofocus>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-5">
                    <div class="form-group has-danger">
                        <div class="input-group mb-4 mr-sm-4 mb-sm-4">
                            <input type="text" name="last_name" class="form-control"
                                   placeholder="last name" required autofocus>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-5">
                    <div class="form-group has-danger">
                        <div class="input-group mb-4 mr-sm-4 mb-sm-4">
                            <input type="text" name="email" class="form-control"
                                   pattern="[a-zA-Z0-9!#$%&amp;'*+\/=?^_`{|}~.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*"
                                   placeholder="you@example.com" required autofocus>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-5">
                    <label class="control-label">Select role: </label>
                    <select name="role" class="select2-selection">
                        <option value="admin">Admin</option>
                        <option value="teacher">Teacher</option>
                        <option value="student" selected>Student</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-5">
                    <button type="submit" class="btn btn-success"><i class="fa fa-registered"></i> Register</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}