{% extends "base.html" %}
{% block title %} LogIn {% endblock %}

{% block content %}
    <div class="container">
        <form class="form-horizontal" method="POST">
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-3">
                    <h2>Reset Password</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-3">
                    <div class="form-group has-danger">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                            <input type="password" name="password" class="form-control"
                                   placeholder="Password" required autofocus>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                            <input type="password" name="repeat_password" class="form-control"
                                   placeholder="Repeat password" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 1rem">
                <div class="col-md-5"></div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-success"><i class="fa fa-sign-in"></i> Confirm</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}

