{% extends 'base.html' %}
{% block title %} Users list {% endblock %}

{% block content %}

    <div class="row heading-bg">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h5 class="txt-dark">Users DataTable</h5>
        </div>
    </div>

    <!-- Row -->
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default card-view">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="table-wrap">
                            <table id="myTable1" class="table table-hover display  pb-30">
                                <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Middle Name</th>
                                    <th>Email</th>
                                    <th>Birth Date</th>
                                    <th>Role</th>
                                    <th>Group</th>
                                    <th></th>
                                    <th><a href="users/add" class="btn btn-primary mr-10">Create</a></th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Middle Name</th>
                                    <th>Email</th>
                                    <th>Birth Date</th>
                                    <th>Role</th>
                                    <th>Group</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                {% if users != None %}
                                    {% for user in users %}
                                        <tr>
                                            <td> {{ user.first_name }}</td>
                                            <td> {{ user.last_name }}</td>
                                            <td> {{ user.middle_name }}</td>
                                            <td> {{ user.email }}</td>
                                            <td> {{ user.birth_date }}</td>
                                            <td> {{ user.role }}</td>
                                            <td> Group</td>
                                            <td><a href="edit/{{ user.id }}"
                                                   class="btn btn-success"
                                                   role="button"> Edit </a></td>
                                            <td><a href="delete/{{ user.id }}"
                                                   class="btn btn-danger"
                                                   role="button"> Delete </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Row -->

{% endblock %}
