{% extends "base.html" %}
{% block title %} New courses {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default card-view">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="table-wrap">
                            <form method="POST" enctype="multipart/form-data">
                                <table id="myTable1" class="table table-hover display pb-30">
                                    <tr>
                                        <th scope="col"><label for="course_name">Title</label></th>
                                        <th scope="col"><label for="description">Description</label></th>
                                        <th scope="col"></th>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="form-control" name="title"
                                                   value="{{ fields[0] }}"></td>
                                        <td><input type="text" class="form-control" name="description"
                                                   value="{{ fields[1] }}"></td>
                                        <td>
                                            <button class="btn btn-success">Create</button>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}