
    <li>
        <a class="active" href="javascript:void(0);" data-toggle="collapse" data-target="#dashboard_dr">
            <div class="pull-left"><i class="zmdi zmdi-landscape mr-20"></i><span
                    class="right-nav-text">Student  Dashboard</span></div>
            <div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div>
            <div class="clearfix"></div>
        </a>
        <ul id="dashboard_dr" class="collapse collapse-level-1">
            <li>
                <a href="/homeworks">Homeworks</a>
            </li>
            <li>
                <a href="/courses">Courses</a>
            </li>
            <li>
                <a href="/groups">Groups</a>
            </li>
            <li>
                <a href="/lessons">Lessons</a>
            </li>

        </ul>
    </li>
    <li>
        <a href="/homeworks" data-toggle="collapse" data-target="#ecom_dr">
            <div class="pull-left"><i class="fa fa-angellist mr-20"></i>
                <span class="right-nav-text">Homeworks</span>
            </div>
            <div class="pull-right"></div>
            <div class="clearfix"></div>
        </a>
    </li>
    <li>
        <a href="/lessons" data-toggle="collapse" data-target="#ecom_dr">
            <div class="pull-left"><i class="fa fa-angellist mr-20"></i>
                <span class="right-nav-text">Lessons</span>
            </div>
            <div class="pull-right"></div>
            <div class="clearfix"></div>
        </a>
    </li>
    <li>
        <a href="/courses" data-toggle="collapse" data-target="#ecom_dr">
            <div class="pull-left"><i class="fa fa-university mr-20"></i>
                <span class="right-nav-text">Courses</span>
            </div>
            <div class="pull-right"></div>
            <div class="clearfix"></div>
        </a>
    </li>
    <li>
        <a href="/groups" data-toggle="collapse" data-target="#app_dr">
            <div class="pull-left"><i class="fa fa-graduation-cap mr-20"></i>
                <span class="right-nav-text">Groups </span></div>
            <div class="pull-right"></div>
            <div class="clearfix"></div>
        </a>
    </li>
