<li>
    <a href="/courses" data-toggle="collapse" data-target="#ecom_dr">
        <div class="pull-left"><i class="fa fa-university mr-20"></i>
            <span class="right-nav-text">Courses</span>
        </div>
        <div class="pull-right"></div>
        <div class="clearfix"></div>
    </a>
</li>
<li>
    <a href="/groups" data-toggle="collapse" data-target="#app_dr">
        <div class="pull-left"><i class="fa fa-graduation-cap mr-20"></i>
            <span class="right-nav-text">Groups </span></div>
        <div class="pull-right"></div>
        <div class="clearfix"></div>
    </a>
</li>
<li>
    <a href="/lessons" data-toggle="collapse" data-target="#ecom_dr">
        <div class="pull-left"><i class="fa fa-angellist mr-20"></i>
            <span class="right-nav-text">Lessons</span>
        </div>
        <div class="pull-right"></div>
        <div class="clearfix"></div>
    </a>
</li>
<li>
    <a href="/homeworks" data-toggle="collapse" data-target="#ecom_dr">
        <div class="pull-left"><i class="fa fa-angellist mr-20"></i>
            <span class="right-nav-text">Homeworks</span>
        </div>
        <div class="pull-right"></div>
        <div class="clearfix"></div>
    </a>
</li>

