{% extends "base.html" %}
{% block title %} Last 10 groups {% endblock %}

{% block content %}
    <div class="row heading-bg">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h5 class="txt-dark">Courses DataTable</h5>
        </div>
    </div>

    <!-- Row -->
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default card-view">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="table-wrap">
                            <table id="myTable1" class="table table-hover display  pb-30">
                                <thead>
                                <tr>
                                    <th> Title</th>
                                    <th> Description</th>
                                    <th> Teacher</th>
                                    <th><a href="new" class="btn btn-primary" role="button">Create</a></th>
                                    <th><a href="new_student" class="btn btn-primary" role="button">Add student</a></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for group_name in group_name %}
                                    <tr>
                                        <td> {{ group_name.group_name }}  </td>
                                        <td> {{ group_name.course_name }} </td>
                                        <td> {{ group_name.first_name }} </td>
                                        <td>
                                            <a href="edit/{{ group_name.id }}" class="btn btn-success" role="button">
                                                Edit
                                            </a>
                                        </td>
                                        <td>
                                            <a href="delete/{{ group_name.id }}" class="btn btn-danger" role="button">
                                                Delete
                                            </a>
                                        </td>
                                    <td></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Row -->
{% endblock %}