{% extends "base.html" %}
{% block title %} Create Student in group {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default card-view">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="table-wrap">
                            <form method="POST" enctype="multipart/form-data">
                                <table id="myTable1" class="table table-hover display pb-30">
                                    <tr>
                                        <th scope="col"><label for="course_id">Groups</label></th>
                                        <th scope="col"><label for="status">Status</label></th>
                                        <th scope="col"><label for="teacher_id">Students</label></th>
                                        <th scope="col"></th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <select class="form-control" name="role">
                                                {% for groups in groups %}
                                                    <option value="{{ groups.id }}">{{ groups.group_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <select class="form-control" name="status">
                                                <option>Activ</option>
                                                <option>Inactive</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select class="form-control" name="student_id" id="stud_id">
                                                {% for students in students %}
                                                    <option value="{{ students.id }}">{{ students.last_name }} {{ students.first_name }} </option>
                                                {% endfor %}
                                            </select></td>
                                        <td>
                                            <button class="btn btn-success">Add</button>
                                        </td>
                                        <td><a href="/groups" class="btn btn-info"> Back </a></td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
