{% extends "base.html" %}
{% block title %} New courses {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default card-view">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="table-wrap">
                            <form method="POST" enctype="multipart/form-data">
                                <table id="myTable1" class="table table-hover display pb-30">
                                    <tr>
                                        <th scope="col"><label for="groups_name">Title</label></th>
                                        <th scope="col"><label for="course_id">Course</label></th>
                                        <th scope="col"><label for="start_date">start date</label></th>
                                        <th scope="col"><label for="end_date">end date</label></th>
                                        <th scope="col"><label for="teacher_id">teacher</label></th>
                                        <th scope="col"></th>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="form-control" name="groups_name" value=""></td>
                                        <td><select class="form-control" name="role">
                                            {% for courses in courses %}
                                                <option value="{{ courses.id }}">{{ courses.course_name }}</option>
                                            {% endfor %}
                                        </select>
                                        </td>
                                        <td><input class="form-control" type="date" name="start_date"
                                                   id="example-date-input"></td>
                                        <td><input class="form-control" type="date" name="end_date"
                                                   id="example-date-input"></td>
                                        <td>
                                            <select class="form-control" name="teacher_id">
                                                {% for teacher in teacher %}
                                                    <option value="{{ teacher.id }}">{{ teacher.last_name }} {{ teacher.first_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <button class="btn btn-success">Create</button>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}